/* Input */
.input-group-text {
    min-height: 40px !important;
    max-height: 100%;
}

.input-group-sm > .form-control,
.input-group-sm > .form-select,
.input-group-sm > .input-group-text,
.input-group-sm > .btn {
    height: 32px;
    min-height: 32px !important;
}

.form-label {
    font-weight: $font-weight-semibold;
}
